    .intro {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding:92px 16px 0;
        box-sizing: border-box;
        display: block;
        text-align: left;
        font-family: "inter-regular", Arial, sans-serif;
    }

    .intro__subtitle,
    .intro__quote,
    .author_quote,
    .intro__text {
        max-width: 830px;
        width: 100%;
        margin-left: 0;
        margin-right: auto;
        display: block;
    }

    .intro__subtitle {
        font-family: "inter-Black", Arial, sans-serif;
        font-size: 54px;
        line-height: 1.1;
        margin-bottom: 40px;
    }

    .intro__quote {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.6;
    }

    .intro__author-quote {
        font-weight: 300;
        font-size: 24px;
        margin-top: 8px;
        display: block;
        text-align: right;
    }

    .intro__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        margin: 32px 0 32px 0;
    }

    @media screen and (max-width: 1024px) {
    .intro {
        padding: 64px 16px 0;
    }

    .intro__subtitle {
        font-size: 32px; 
        margin-bottom: 32px;
    }

    .intro__quote,
    .author_quote,
    .intro__text {
        font-size: 18px;
    }
}

    @media screen and (max-width: 544px) {
    .intro {
        padding: 40px 16px 0;
    }

    .intro__subtitle {
        font-size: 24px;
        line-height: 1.2;
    }

    .intro__quote,
    .author_quote,
    .intro__text {
        font-size: 16px;
    }

    .author_quote {
        margin-top: 12px;
    }
}   